body{
    background-color: grey;
    color: white;
}

.article1{
    background: dodgerblue url("image/pingouin.png") no-repeat left;
    background-origin:border-box;
    background-size: contain;
    border: orangered dashed thick;
    margin:2em;
    padding:1em;
}

.article2{
    background: green url("image/pingouin.png") no-repeat left;
    background-origin:border-box;
    background-clip: padding-box;
    background-size: contain;
    border: orangered dashed thick;
    margin:2em;
    padding:1em;
}

.article3{
    margin:2em;
    padding:1em;
    background-origin:border-box;
    background: mediumpurple url("image/pingouin.png") no-repeat left;
    border: orangered dashed thick;
    background-clip:content-box;
    background-origin:content-box;
    background-size: contain;
}