h1{
    color: purple;
}
h2 {
    color: white;
}
p{
    color: grey;
    margin-left: 50px;
    margin-right: 50px;
}
cite{
    color: white;
}
body{
    background-color: darkolivegreen;
    background-image: url("pingouin.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1500px;
}

section{
    background-color: rgb(162, 95, 81);
}
article{
    margin : 2em;
    background-color: rgba(255, 0, 0, 0.64);
    background-image: url("pingouin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 90%;
}